<%- include('../layouts/header', {title: 'TODO-List' }) %>
    <%- include('../layouts/menu') %>
        <section class="section hero is-link is-fullheight-with-navbar">
            <div class="hero-body has-text-centered">
                <div class="container">
                    <h1 class="title">
                        TO-DO-LIST
                    </h1>
                    <h2 class="subtitle">
                        Gerenciador de tarefas diarias
                    </h2>
                    <a href="/checklist" class="button is-light is-medium">Lista de atividades</a>
                </div>
            </div>
        </section>
        <%- include('../layouts/footer') %>